
@font-face {
	font-family: "CormorantGaramond";
	src: 
	local("CormorantGaramond-Medium"),
	url("assets/Cormorant-Medium.woff2") format('woff2'),
	url("assets/CormorantGaramond-Medium.ttf") format('truetype')
	;
}
@font-face {
	font-family: "CormorantGaramond";
	src: 
	local("CormorantGaramond-MediumItalic"),
	url("assets/Cormorant-MediumItalic.woff2") format('woff2'),
	url("assets/CormorantGaramond-MediumItalic.ttf") format('truetype')
	;
	font-style: italic;
}
@font-face {
	font-family: "CormorantGaramond";
	src: 
	local("CormorantGaramond-Bold"),
	url("assets/Cormorant-Bold.woff2") format('woff2'),
	url("assets/CormorantGaramond-Bold.ttf") format('truetype')
	;
	font-weight: bold;
}


html, body {
	margin: 0;
	padding: 0;
}
body {
	font-family: CormorantGaramond, Times, serif;
	font-size: 1.6em;
}

header {
	position: relative;
	background-color: #fcfcfc;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
	background-image: url(assets/cardboard_flat_030_200x200.png);
}
#aboutSummary {
	text-align: center;
	padding: 0.3em 2%;
	cursor: pointer;
}
#showMore {
	position: relative;
	display: inline-block;
	font-size: 0.8em;
	background-color: #fcfcfc;
	border-radius: 10px;
	padding: 4px 8px;
	margin: 4px 10px;
	box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.2);
	/*horizontal, vertical, blur, color */
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 1.0);
	border: 1px solid #777;
	transition: all 50ms ease-in-out;
}
#aboutSummary:hover #showMore:not(.on) {
	box-shadow: inset 0 1px 6px 0 rgba(0, 0, 0, 0.3);
}
#showMore.on {
	background-color: #eee !important;
	box-shadow: inset 1px 1px 4px 0 rgba(0, 0, 0, 0.6);
}
#showMore:after, #showMore:before {
	position: absolute;
	right: 100%;
	bottom: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	transition: all 50ms ease-in-out;
}
#showMore:after {
	border-right-color: #ccc;
	border-width: 5px;
	margin-bottom: -5px;
}
#showMore.on:after {
	border-right-color: #999;
}
#showMore:before {
	border-right-color: #444;
	border-width: 6px;
	margin-bottom: -6px;
}

header .blockquote {
	margin: 1em;
}
#aboutFull {
	max-height: 0px;
	transition: all 1000ms ease-in-out;
	overflow: hidden;
}
#aboutFull > div {
	margin: 0 auto;
	padding: 0.8em 5%;
	max-width: 42em;
	min-width: 18em;
}



#sutras {
	margin: 3% auto;
	padding: 0 5%;
	max-width: 42em;
	min-width: 18em;
}
article {
	margin-bottom: 10em;
}
article > section {
	margin-bottom: 4em;
}
article > section > section {
	margin-bottom: 2em;
}
h1 {
	font-variant: small-caps;
	font-size: 2.3em;
	margin-bottom: 0.5em;
}
h3 {
	margin-bottom: 2em;
}
h1,
h2,
h3
{
	text-align: center;
}
img {
	width: 25%;
	display: block;
	/* oben, rechts, unten, links. */
	margin: 0 auto 0 auto;
}
a,
a:active
{
	color: #444
/*	text-decoration: none;*/
}
a:hover {
	color: #666
	/*text-decoration: underline;*/
}
section span.fourE,
/*h1 .breath,*/
strong
{
	white-space: nowrap;
}
.fourE,
.fourEclosingP,
ol.fourE > li
{
	color: #d10101;
}
ol.fourE > li {
	font-weight: bold;
}
.fourEclosingP .fourE,
.question .fourE,
.question .factors,
.question .breath
{
	font-weight: bold;
}
h1 .fourE,
h1 .breath
{
	/*horizontal, vertical, blur, color */
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 1.0);
}
.fourEbig,
h2.fourE::first-letter
{
	font-size: 150%;
	line-height: 65%;
}
.question {
	background-color: #f9e3d8;
	/*background-color: #fdceb6;*/
	/* highlight text, not box! */
	display: inline;
	border: 3px solid #f9e3d8;
	border-radius: 8px;
	padding: 0 5px;
	line-height: 140%;
}
.highlightYellow {
	background-color: #fff8ca;
	border-radius: 5px;
	padding: 0 4px;
}
.omission {
	background-color: #dbdbdb;
}
.omission,
header .highlight
{
	background-color: #dbdbdb;
}
.highlight {
	background-color: #f1f1f1;
}
.omission,
.highlight
{
	border-radius: 5px;
	padding: 0 4px;
}
strong {
	border-radius: 5px;
	background-color: #ffea63;
}
.question,
strong,
.omission,
.highlight,
.highlightYellow
{
	text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
}
ul {
	list-style-image: url(assets/ul-dot.png);
}
.narrator {
	font-style: italic;
}
.breath {
	color: #01a3f2;
}
.observe {
	color: #67016f
}
.repeat {
	color: #697602
}
.b {
	font-weight: bold;
}
.i {
	font-style: italic;
}
.keyword {
	color: #006c66
}
.practise {
	color: #885400
}
span.factors,
/* colour bullets only */
ol.factors > li
{
	color: #00a902;
}
ol.factors > li {
	font-weight: bold;
}
/* undo for content */
ol.factors div,
ol.fourE div
{
	color: black;
	font-weight: normal;
}
p {
	margin: 0.8em 0;
}
li p {
	margin-top: 0.5em;
	margin-bottom: 0;
}
li p + ul,
li p + ol,
span + ol,
span + ul
{
	margin-top: 0.3em;
}
ol,
ul
{
	margin: 0.8em 0;
}
ol ul,
ul ul
{
	margin: 0.3em 0;
}
li.indent {
	padding-left: 2em;
}
.noBullets {
	list-style: none;
	padding-left: 2.5em;
}
ul div.bullet {
	position: absolute;
	margin-left: -1.3em;
}
.braceWithReturn {
	padding-right: 4%;
	background: no-repeat right/contain url(assets/braceWithReturn.svg);
}
.articleEnd {
	width: 40%;
}



@media print {
	body {
		-webkit-print-color-adjust: exact;
		font-size: 1.2em;
	}
	header {
		display: none;
	}
	article
	,article > section
	,.page-break-after
	{
		page-break-after: always;
	}
	
	li p {
		margin-top: 0.1em;
	}
	
	p, article > section > section {
		/*page-break-inside: avoid*/
	}
	
}
